.hero {
    background: rgba(18, 18, 18, 1);
    padding-top: 40px;
    position: relative;

    &__circle {
        position: absolute;
        right: 0;
        overflow: hidden;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__image {
        width: 100%;
        position: relative;
    }

    &__items {
        display: flex;
        gap: 20px 38px;
        flex-wrap: wrap;
    }

    &__item {
        display: flex;
        gap: 12px;
        align-items: center;
    }

    &__icon {
        width: 40px;
        height: 40px;
    }

    &__sub-text {
        color: $col;
        @extend %g-400;
        font-size: 16px;

    }

    &__description {
        margin-top: 54px;
    }

    &__description-box {
        display: flex;
        gap: 18px;
    }

    h1 {
        font-size: clamp(140px, 20vw, 241px);
        @extend %g-700;
        color: #8B57C2;
    }

    &__specification {
        padding-top: 32px;
        font-size: 16px;
        color: $col;
        line-height: 1.18em;

        span:first-child,
        span:last-child {
            opacity: 0.5;
        }
    }

    &__text {
        color: $col;
        max-width: 486px;
        font-size: clamp(16px, 2vw, 26px);
        line-height: 1.6em;
    }

    &__text-sub {
        @extend %g-900;
    }

    &__text-sub+&__text-sub {
        @extend %g-700;
        opacity: 0.8;
    }

    &__btn {
        margin-top: 64px;
        padding: 18px 60px;
        font-size: clamp(14px, 2vw, 16px);
        @extend %g-700;

    }

    &__detals {
        margin-top: 76px;
        text-align: center;
        padding-bottom: 40px;

        line-height: clamp(2.2em, 8vw, 3.75em);

        span {
            font-size: 50px;
            color: $col;
            @extend %g-800;
            display: block;
            font-size: clamp(30px, 8vw, 50px);
        }

        span+span {
            color: rgba(139, 87, 194, 1);
        }
    }

    .hero__circle circle {
        stroke: #fff;
        opacity: 1;
        animation: pulseAll 6s ease-in-out infinite;
    }


    @media (max-width:950px) {
        &__wrapper {
            flex-direction: column;
        }

        &__circle {
            position: absolute;
            right: 0;
            bottom: 0;
            overflow: hidden;
        }

        &__specification {
            max-width: 300px;
        }

        &__text {
            max-width: 100%;
        }

        &__image {
            margin-top: 60px;
        }

        &__registration {
            margin-top: 30px;
        }
    }
}











