// Container & Breakpoints
@use 'sass:math';
$containerWidth: 1240;
$containerPadding: 40;
$containerSidePadding: math.div($containerPadding, 2);
$breakpoint1450: 1449.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint480: 479.98 + px;

// Colors
$mainColor: #131418;

// Burger Menu
$burgerBreakpoint: $breakpoint992;
$burgerColor: #131418;
$burgerActiveColor: #fefefe;

// Fonts
$fontMain: sans-serif;
$fontSecondary: '';




$col: rgba(255, 255, 255, 1);




%g-400 {
  font-family: "Gilroy-Regular";
  font-weight: 400;
}

%g-500 {
  font-family: "Gilroy-Medium";
  font-weight: 500;
}

%g-600 {
  font-family: "Gilroy-Semibold";
  font-weight: 600;
}

%g-700 {
  font-family: "Gilroy-Bold";
  font-weight: 700;
}

%g-800 {
  font-family: "Gilroy-Extrabold";
  font-weight: 800;
}

%g-900 {
  font-family: "Gilroy-Black";
  font-weight: 900;
}