.program {
    padding: 40px 0;
    position: relative;
    z-index: 2;

    h3 {
        line-height: clamp(2.2em, 8vw, 2.8em);
        color: $col;
        @extend %g-700;
        font-size: 50px;
        font-size: clamp(30px, 8vw, 50px);
        color: rgba(0, 0, 0, 1);
    }

    &__text {
        max-width: 550px;
        font-size: clamp(16px, 2vw, 20px);

        color: rgba(0, 0, 0, 0.8);
        line-height: 1.5em;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__items {
        display: flex;
        gap: 20px 37px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: 5px;
        justify-content: center;
    }

    .program__info {
        color: rgba(0, 0, 0, 0.8);
        font-size: 16px;
        @extend %g-700;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6px 0;

        span {
            color: rgba(0, 0, 0, 0.8);
            font-size: 16px;
            @extend %g-700;
        }
    }

    &__item-wrapper {
        margin-top: 14px;
        width: 60px;
        height: 60px;
        background: rgba(255, 126, 242, 1);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        @extend %g-400;
        color: $col;


    }

    &__registration {
        margin-top: 40px;
        display: flex;
        justify-content: center;
    }

    @media (max-width:850px) {
        &__wrapper {
            flex-direction: column;
        }

        &__box {
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        &__box+&__box {
            margin-top: 30px;
        }

        &__text {
            text-align: center;
        }
    }
}